/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/inline-block";
@import "compass/css3/text-shadow";


/*
 * dull:
 * #332222
 * #221122
 * #553333
 * #bb9966
 * #aa9966
 *
 * vibrant
 * #442222
 * #222222
 * #884422
 * #eecc77
 * #ddbb77
 */

body {
  background-color: #fff;
  color: #221122;
  font: Palatino, serif, 14px;
}

h1 { 
  @include text-shadow;
  margin: -16px auto 0 auto;
  font-family: jim-nightshade, serif;
  color: #553333;
  font-size: 8em; 
  font-weight: 500;
  text-align: center;
  width: 100%;
}

h2 {
  font-family: maiden-orange, serif;
  &.lead-in {
    text-align: left;
    font-size: 2.4em;
    margin-top: 14px;
  }
  &.lead-out {
    margin-top: -22px;
    text-align: right;
    font-size: 3.4em;
  }
}
  
.container {
  width: 600px;
  margin: 20px auto;
}


.post-content {
  margin-top: 10px;
  background: url('/images/shakespeare-thick.jpg') no-repeat top right;
  height: 300px;
}

form {
  margin-top: 11px;
  .elements {
    @include border-radius(8);
    border: 3px solid black;
    background: url('/images/parchment.jpg') #fff;
    width: 594px;
    margin: auto;
    span {
      display: none;
    }
    * {
      background: transparent;
      border: none;
      font-size: 1.8em;
      padding: 9px;
    }
    input {
      width: 480px;
      &:focus {
        outline: none;
      }
    }
    button {
      font-family: maiden-orange, serif;
      line-height: 1.6em;
      float: right;
      width: 95px;
      &:focus {
        outline: none;
        color: #533;
      }
    }
  }
}

ul.results {
  margin-top: 25px;
  background: url('/images/parchment.jpg') no-repeat #fff;
  @include border-radius(8px);
  border: 3px solid black;
  width: 594px;
  min-height: 100px;
  font-size: 1.4em;
  line-height: 1.4em;
  li.result {
    width: 96%;
    padding: 1% 2%;
    @include inline-block;
    vertical-align: bottom;
    &:hover {
      @include border-radius(8px);
      background-color: #dfd3a0;
    }
    * {
      @include inline-block;
    }
    .title {
      font-style: italic;
    }
    .reference {
      font-size: 0.6em;
    }
  }
}

.footer {
  width: 100%;
  text-align: right;
  a {
    color: #533;
    text-decoration: none;
    &:visited, &:hover { color: #333; }
  }
}
